arrow==0.13.1
astroid==2.2.2
autopep8==1.4.3
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
fire==0.1.3
future==0.17.1
idna==2.8
isort==4.3.10
just-tweet-and-code==0.1
lazy-object-proxy==1.3.1
mccabe==0.6.1
oauthlib==3.0.1
Pillow==8.2.0
pocket==0.3.6
pycodestyle==2.5.0
pyfiglet==0.8.post1
pylint==2.3.1
PySocks==1.6.8
python-dateutil==2.8.0
python-twitter==3.5
requests==2.5.3
requests-oauthlib==1.2.0
six==1.12.0
typed-ast==1.2.0
urllib3==1.24.1
wrapt==1.11.1
